nlp-model/scamshield_bert_model/model.safetensors
.DS_Store
*.pkl
__pycache__/
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
env/

.env
.env.local

.ipynb_checkpoints/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
Thumbs.db
